<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization Display</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="sidebar">
        <h2>Try It Yourself</h2>
        <ul>
            <li><a href="#" onclick="showREADME()">README</a></li>
            <li><a href="upload.html">Upload LP Problem</a></li>
        </ul>
        <h2>Example Problems</h2>
        <ul>
            <li><a href="#" onclick="showImage('vertices_plot_800.png')">Example Test Plot 800</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_801.png')">Example Test Plot 801</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_802.png')">Example Test Plot 802</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_803.png')">Example Test Plot 803</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_804.png')">Example Test Plot 804</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_805.png')">Example Test Plot 805</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_806.png')">Example Test Plot 806</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_807.png')">Example Test Plot 807</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_808.png')">Example Test Plot 808</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_809.png')">Example Test Plot 809</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_810.png')">Example Test Plot 810</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_811.png')">Example Test Plot 811</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_812.png')">Example Test Plot 812</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_813.png')">Example Test Plot 813</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_814.png')">Example Test Plot 814</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_815.png')">Example Test Plot 815</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_816.png')">Example Test Plot 816</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_817.png')">Example Test Plot 817</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_818.png')">Example Test Plot 818</a></li>
            <li><a href="#" onclick="showImage('vertices_plot_819.png')">Example Test Plot 819</a></li>
        </ul>
    </div>
    <div class="content">
        <div id="readme-content" style="display: none;">
            <h1>README</h1>
            <p>Welcome to the LP Problem quickstart Neural Network tool. The models behind this website attempts to uses the Smart Initial Basis, Learn To Pivot, 
                and Integer-Program Message Passing Frame to develop an initial solution for tradition solvers including the Simplex Method and Interior Point Method.
                <br><br>
                We provided some examples on the side bar with visualisations. These problems are LP that were generated at random and used to train the Smart Initial 
                Basis. You can use toggle the zoom button and vertices button. The zoom button will zoom into the solution, and the vertices button will show some vertiecs 
                of the LP problem. The black dot represents the origin, red the optimal basis, and green the starting basis. We also provide the number of pivots required 
                starting from the origin to the optimal solution, and the prediction to the optimal solution. We did this with a 30 minute limit. 
                <br><br>
                NOTE: The 3D visualisation is not a direct indication of the model's preformance. This is because PCA-3 was preformed on the original LP problem to visualise it. 
            </p>
            <p><strong>The Model</strong></p>
            <pr> Smart Initial Basis (SIB):This model aims to create an initial basis for the simplex method.  The model used was a GNN model, and the LP problem is transformed 
                into a bi-partite graph with two types of nodes, the variables and the constraints. The features of variable node includes the scaler value in objective function 
                and the number of non-zero in constraint matrix. Similarly, the constraint node feature includes the constraint RHS constants, and number of non zeros in the 
                constraint matrix.</pr>
            <br><br>
            <pr> Learn To Pivot (LTP): This model aims to pivot a starting basis into the optimal basis. The structure and feature of this model is similar to SIB.</pr>
            <br><br>
            <pr> Integer Program Message Passing Neural Network (IPMGNN): This model aims to replicate the Interior-Point Method. The model used was a GNN (Specificially GCN),
                and the problem was transformed into a tri-partite graph with three types of nodes, the variable, the constraints, and the objective. For the variable, and
                constraint nodes, the mean and standard deviation of their respective column and row were used as features. The objective node used the mean and standard deviation
                of the objective vector.
            </pr>
            
            <p><strong>The Data Used</strong></p>
            <p>SIB: The model was trained on 800 LP problem which were randomly generated. Please view our source code for the specifics. Theese problems are all feasible and bounded
                with 500 variables and 700 constraints, hence including slack variables the total variables is 1200. 200 LP problems were used to test the model.
            </p>
            <p>LTP: The model was trained on 100 LP problems, the same as the ones used in SIB. However, due to the time required to generate the pivots from the pivoting expert, 800
                LP problems could not be used to train the model.
            </p>
            <p>IPMGNN: The model was trained on a total of 100000 data, which includes Set Cover, Independent Set, Auction and Capcitated Facility Problem. The Set Cover problem had 
                up to 700 rows and columns. The independent set problem had up to 700 nodes. The auction problem had up to 500 items, and 550 bids. The Capcitated Facility problem had 
                up to 29 customers and 24 facilities. 
            </p>
            <p><strong>How to use example visualisation and other details:</strong></p>
            <ul>
                <li>Use Toggle Zoom Level to zoom into the problem at 3 levels: Out, Mid, In.</li>
                <li>Use Toggle Vertices Visibility to hide/display the hidden vertices for the problem's polyhedron.</li>
                <li>The <span style="color:black;">Black</span> dot represents the origin (0, 0, 0).</li>
                <li>The <span style="color:green;">Green</span> dot represents the SIB's initial basis prediction.</li>
                <li>The <span style="color:red;">Red</span> dot represents the optimal basis for the problem.</li>
                <li>The <span style="color:grey;">Grey</span> dot represents the vertices of the problem's polyhedron.</li>
                <li>In some example, the Green dot may apear further away from the Red dot than the Black dot. This is not a
                    clear indication of the prediction. We provide the pivots required with the Revised Simplex Method from
                    the black and green dots.</li>
            </ul>
            <p><strong>How to use our provided models</strong></p>
            <pr>SIB: Please upload your problem as a npz file with keys:
            <ul>
                <li> The method returns the variables are in the predicted basis. For example [0, 1, 5] means the variable in index 0, 1, and 5 corresponding to the objective coefficient is in the basis.</li>
                <li>'c': The objective coefficient inclduing slack, stored as a numpy array.</li>
                <li>'A': The constraint coefficient including slack, stored as a numpy array.</li>
                <li>'b': The constraint RHS, stored as a numpy array.</li>
                <li>We will access your file with the following code: </li>
            </ul>
            <pre><code>
                c = data['c']
                A = data['A']
                b = data['b']
            </code></pre>
            </pr>
            <pr>LTP: Please upload your problem as a npz file with keys:
                <ul>
                    <li> The method returns the variables are in the predicted basis after pivoting. For example [0, 1, 5] means the variable in index 0, 1, and 5 corresponding to the objective coefficient is in the basis.</li>
                    <li>'c': The objective coefficient inclduing slack, stored as a numpy array.</li>
                    <li>'A': The constraint coefficient including slack, stored as a numpy array.</li>
                    <li>'b': The constraint RHS, stored as a numpy array.</li>
                    <li>'basis': The basis you want the model to pivot from, stored as a numpy array.</li>
                    <li>We will access your file with the following code: </li>
                </ul>
                <pre><code>
                    c = data['c']
                    A = data['A']
                    b = data['b']
                    basis = data['basis']
                </code></pre>
            </pr>
            <pr>IPMGNN: Please upload your problem as a pkl file:
                <ul>
                    <li> The method attempts to replicate the IPM in steps of 8. For example if:</li>
                    <li> result = <br>
                        [[0.5866518020629883, 0.16453507542610168, 0.10403640568256378, 0.05939660221338272, 0.0, 0.04405095800757408, 0.008589258417487144, 0.09084194898605347], <br>
                        [0.5871016383171082, 0.16447892785072327, 0.10803598165512085, 0.06020689755678177, 0.0, 0.04492228478193283, 0.008605537936091423, 0.09117642045021057]]</li>
                    <li> Then result[0] represents the 8 IPM step of the variable in index 0. Hence wise result[0][0] represents the first step of variable indexed at 0. </li>
                    <li> We retrieve the true result from the IPM method with the following code: (please see our repository for linprog accessed in ../IPMGNN_folder/solver/linprog.py)</li>
                </ul>
                <pre><code>
                    sol = linprog(c.numpy(),
                    A_ub=A_ub,
                    b_ub=b_ub,
                    A_eq=A_eq, b_eq=b_eq, bounds=bounds,
                    method='interior-point', callback=lambda res: res.x)
                    x = np.stack(sol.intermediate, axis=1)
                </code></pre>
                <ul>
                    <li>Please append (A, b, c) as a tuple in the first index of a list. Below is how we store ours:</li>
                </ul>
                <pre><code>
                    ips = []
                    ips.append((torch.from_numpy(A).to(torch.float), torch.from_numpy(b).to(torch.float), torch.from_numpy(c).to(torch.float)))
                    directory = # Your directory
                    with gzip.open(directory, "wb") as file:
                        pickle.dump(ips, file)
                </code></pre>
                <ul>
                    <li>We will access your file with the following code:</li>
                </ul>
                <pre><code>
                    ip_pkgs = pickle.load(file)
                    A, b, c = ip_pkgs[0]
                </code></pre>
            </pr>
            <p>If you encounter any issues or have questions, please refer to the documentation or our repository.</p>
            <p>We acknowledge the authors referenced in our papers which helped layed the foundation to this website. We directly used codes [Qian et al., 2023] to train our IPMGNN model.</p>
        </div>
        <div id="visualization-section">
            <h1>Visualization Display</h1>
            <img id="visualization" src="../static/images/images_zoom_out/hidden_vertices/vertices_plot_800.png" alt="3D Visualization of LP Vertices">
            <br>
            <div class="description-container">
                <p id="default-basis">Pivots to optimal with Default Basis: 74,799</p>
                <p id="sib-basis">Pivots to optimal with Smart Initial Basis: 150,000</p>
            </div>
            <div class="button-container">
                <div class="button-group">
                    <p id="zoom-level-text">Current Zoom Level: Zoom Out</p>
                    <button onclick="toggleZoom()">Toggle Zoom Level</button>
                </div>
                <div class="button-group">
                    <p id="vertex-visibility-text">Vertices Visibility: Hidden</p>
                    <button onclick="toggleVertexVisibility()">Toggle Vertices Visibility</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>